# Entornos virtuales
venv/
.venv/
env/

# Archivos de configuración sensibles
.env
.env.local
.env.*.local

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pydt

# Archivos de logs
logs/
*.log

# Configuración de IDEs
.vscode/
.idea/
*.swp

# Archivos de entorno
config/.env
config/.env.local
config/.env.*.local
config/.env.*.development
config/.env.*.production
config/.env.*.test
